//* {
//  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
//}

// TODO: style for #app not working
html, body, #app {
  //height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #000000;
  color: white;
}

a {
  text-decoration: none;
}
