@import "../../../../../styles/variables";

.wrapper {
  width: 100%;
  position: fixed;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: 99;
}

.container {
  width: 100%;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 35px;

    img {
      width: 100%;
      pointer-events: none;
    }
  }

  .mobileMenu {
    .menuIcon {
      position: relative;
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      z-index: 100;

      .line {
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #ffffff;
        transition: all 0.3s ease-in-out;
      }
    }

    .menuNav {
      position: fixed;
      height: 0;
      top: 0;
      right: 0;
      left: 0;
      z-index: 99;
      background-color: #000000;
      transition: all 0.5s ease-in-out;

      .navWrapper {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: -100%;
        left: 0;
        padding-top: 70px;
        transition: all 0.5s ease-in-out;

        .navItem {
          padding: 10px;
          margin-bottom: 8px;
          font-family: $fontNotoSans;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 33px;
          text-align: center;
          text-transform: uppercase;
          color: $primaryTextColor
        }

        .active {
          border-bottom: 1px solid #FF8A00;
        }
      }
    }
  }

  .menuIsOpen {
    .menuNav {
      height: 100%;

      .navWrapper {
        top: 0;
      }
    }

    .menuIcon {
      .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 7px);
        width: 30px;
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -7px);
        width: 30px;
      }
    }
  }
}
