@import "../../../../../styles/variables";

.wrapper {
  width: 100%;
  padding-top: 40px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 16px;
    align-self: flex-start;
    font-family: $fontNotoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: $primaryTextColor;
    border-bottom: 1px solid #FF8A00;
  }

  .slider {
    padding-top: 32px;
  }
}

