.wrapper {
  width: 100%;
  padding-top: 60px;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    margin-top: 200px;
    height: 105px;

    img {
      height: 100%;
      pointer-events: none;
    }
  }

  .steam {
    width: 244px;
    margin-top: 32px;

    img {
      width: 100%;
    }
  }

  .social {
    padding: 72px 0 16px;
    display: flex;

    .socialItem {
      width: 34px;
      margin-right: 24px;

      svg {
        width: 32px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


