@import "../../../../../styles/variables";

.wrapper {
  width: 100%;
  padding-top: 40px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 16px;
    align-self: flex-start;
    font-family: $fontNotoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: $primaryTextColor;
    border-bottom: 1px solid #FF8A00;
  }

  .video {
    width: 100%;
    padding: 0 16px;
    margin-top: 32px;

    video {
      width: 100%;
    }
  }

  .info {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;

    .infoItem {
      padding-top: 16px;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.13);

      &:first-child {
        padding-top: 0;
      }

      .label {
        font-family: $fontMontserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.025em;
        color: #979797;
      }

      .text {
        padding-top: 4px;
        font-family: $fontNotoSans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }

  .feature {
    width: 100%;
    padding: 16px;
    position: relative;
    border-radius: 2px;
    background-size: cover;
    background-position: center;

    .gradient {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.04%, rgba(0, 0, 0, 0.88) 101.87%);
      border-radius: 2px;
    }

    .description {
      position: relative;
      font-family: $fontMontserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      color: $primaryTextColor;
      z-index: 1;
    }
  }
}

