@import "../../../../../styles/variables";

.wrapper {
  width: 100%;
  padding-top: 40px;
}

.container {
  width: 100%;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 126px;
    padding-bottom: 16px;

    img {
      width: 100%;
      pointer-events: none;
    }
  }

  .steam {
    width: 244px;

    img {
      width: 100%;
    }
  }

  .nav {
    padding: 24px 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navItem {
      margin-bottom: 12px;
      font-family: $fontNotoSans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
      color: $primaryTextColor;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .awardsImage {
    width: 250px;
    padding-bottom: 32px;

    img {
      width: 100%;
      pointer-events: none;
    }
  }

  .social {
    padding-bottom: 18px;
    display: flex;

    .socialItem {
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .copyright {
    padding-bottom: 12px;
    font-family: $fontNotoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $primaryTextColor;
  }
}

