@import "../../../../styles/variables";

.wrapper {
  width: 100%;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    align-self: flex-start;
    font-family: $fontNotoSans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
    color: $primaryTextColor;
    border-bottom: 1px solid #FF8A00;
  }

  .images {
    width: 100%;
    height: 880px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    .image {
      width: 540px;
      height: 280px;

      img {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      &:nth-child(1),
      &:nth-child(2) {
        width: 720px;
        height: 430px;
      }
    }
  }
}

@media screen and (max-width: $Laptop) {
  .wrapper {
    padding-top: (150px/$val);
  }

  .container {
    width: (1280px/$val);

    .title {
      font-size: (40px/$val);
      line-height: (54px/$val);
    }

    .images {
      height: (880px/$val);
      margin-top: (40px/$val);

      .image {
        width: (540px/$val);
        height: (280px/$val);

        &:nth-child(1),
        &:nth-child(2) {
          width: (720px/$val);
          height: (430px/$val);
        }
      }
    }
  }
}

@media screen and (max-width: $Tablet) {
  .wrapper {
    padding-top: (150px/$val2);
  }

  .container {
    width: (1280px/$val2);

    .title {
      font-size: (40px/$val2);
      line-height: (54px/$val2);
    }

    .images {
      height: (880px/$val2);
      margin-top: (40px/$val2);

      .image {
        width: (540px/$val2);
        height: (280px/$val2);

        &:nth-child(1),
        &:nth-child(2) {
          width: (720px/$val2);
          height: (430px/$val2);
        }
      }
    }
  }
}
