@import "../../styles/variables";

.wrapper {
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background: #000000;
  overflow-y: hidden;
}

.container {
  width: 1280px;
  display: flex;
  justify-content: space-between;

  .logo {
    height: 100%;

    img {
      height: 100%;
      pointer-events: none;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .games {
      display: flex;

      .game {
        width: 340px;
        margin-right: 25px;
        transition: .3s;

        &:hover {
          transform: scale(1.03);
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
        }
      }
    }

    .social {
      padding-top: 70px;
      display: flex;

      .socialItem {
        margin-right: 40px;

        svg {
          width: 64px;

          rect, path {
            transition: .3s;
          }

          &:hover {
            rect {
              fill: #FFFFFF;
              fill-opacity: 1;
            }

            path {
              fill: #000000;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media screen and (max-width: $Laptop) {
  .container {
    width: (1280px/$val);

    .nav {
      .games {
        .game {
          width: (340px/$val);
          margin-right: (25px/$val);
        }
      }

      .social {
        padding-top: (70px/$val);

        .socialItem {
          margin-right: (40px/$val);

          svg {
            width: (64px/$val);
          }
        }
      }
    }
  }
}

@media screen and (max-width: $Tablet) {
  .container {
    width: (1280px/$val2);

    .nav {
      .games {
        .game {
          width: (340px/$val2);
          margin-right: (25px/$val2);
        }
      }

      .social {
        padding-top: (70px/$val2);

        .socialItem {
          margin-right: (40px/$val2);

          svg {
            width: (64px/$val2);
          }
        }
      }
    }
  }
}
